
<div class="sessions-form-container d-flex flex-column align-items-center py-4">
  <%= render 'shared/flash_notifications' %>

  <main class="form-signin w-100">
    <h1 class="h3 mb-3 fw-normal">Login</h1>

    <%= link_to 'Logar com Iugu', oauth_authorize_path, class: "btn btn-primary w-100 py-2" %>
  </main>
</div>
